springboot-soap-consumer/src/main/resources/wsdl/studentDetailsWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.localsoapproducer.com/xml/school" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.localsoapproducer.com/xml/school" targetNamespace="http://www.localsoapproducer.com/xml/school">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.localsoapproducer.com/xml/school">

    <xs:element name="StudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="StudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="student">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="school" type="xs:string"/>
            <xs:element name="major" type="tns:major"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="major">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MATHS"/>
            <xs:enumeration value="CHEMISTRY"/>
            <xs:enumeration value="PHYSICS"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="StudentRequest">
    <wsdl:part element="tns:StudentRequest" name="StudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StudentResponse">
    <wsdl:part element="tns:StudentResponse" name="StudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudentDetailsPort">
    <wsdl:operation name="Student">
      <wsdl:input message="tns:StudentRequest" name="StudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:StudentResponse" name="StudentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentDetailsPortSoap11" type="tns:StudentDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Student">
      <soap:operation soapAction=""/>
      <wsdl:input name="StudentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentDetailsPortService">
    <wsdl:port binding="tns:StudentDetailsPortSoap11" name="StudentDetailsPortSoap11">
      <soap:address location="http://localhost:9201/service/student-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>